<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="Excellent Food Delivery Services">
  <meta name="keywords" content="fast food, tasty food, excellent fast food delivery services">
  <meta name="author" content="Jerry Blessing">
  <title>Fast Food Fast | Orders</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css">

</head>
<body class="body-bg">
  <header>
    <div class="container">
      <div id="logo">
        <img src="img/logo_fff.png">
      </div>

    </div>
  </header>

  <div id="sidebar-left">
    <button class="dropdown-btn">Food Menu 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="admin.html">View All</a>
      <a href="#">Add</a>
      <a href="#">Edit</a>
      <a href="#">Delete</a>
    </div>

    <button class="dropdown-btn">Orders 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="allOrders.html">All Orders</a>
      <a href="#">Yet to be Delivered</a>
      <a href="#">Cancelled Orders</a>
      <a href="#">Completed Orders</a>
    </div>
  </div>
  <div id="main" class="main-bg">
   <!--  confirm order -->
   <div>
    <div id="confirm_ord">
      <h2>Order Confirmation</h2> 
    </div>
    <div id="confirm"><button class="button_3">Accept</button> <button class="button_3">Decline</button></div>
  </div>

  <!--   order information -->

  <div class="container">

   <table class="table">

    <tbody>
      <tr>
        <td>Order No:</td>
        <td>1</td>

      </tr>
      <tr>
        <td>Datetime:</td>
        <td>11/9/2013 10:08:40</td>

        <tr>
          <td>Payment Type</td>
          <td>Cash/POS</td>

        </tr>


        <br>
        <br>
        <tr>
          <td>Name:</td>
          <td>Blessing Jerry</td>

        </tr>
        <tr>
          <td>Address:</td>
          <td>Plot 7, Wuse II Adetokumbo Ademola Cresent</td>

          <tr>
            <td>Phone Number:</td>
            <td>09023456778</td>

          </tr>
          <tr>
            <td>Email:</td>
            <td>matt@yahoo.com</td>

          </tr>
          <tr>
            <td>Order Detail</td>
            <td>Tuna Salad, Grilled Cat fish, Carrot and Orange smoothie</td>


          </tr>

          <tr>

           <!--  <tr hidden="hidden"> -->
            <td>Status:</td>
            <td>Processing</td>


          </tr>


        </tr>

        <tr>

        </tbody>
      </table>
      <div alter-status hidden="hidden">
       <button class="button_3">Change Status</button>

       <select name="status">
        <option value="Yet to be delivered">Yet to be delivered</option>
        <option value="Delivered">Delivered</option>
        <option value="Cancelled by Admin">Declined</option>


      </select>
    </div>
  </div>


</div>

</div>

</div>


<div id="footer">
  <footer>
    <p>Fast-Food-Fast, Copyright &copy; 2018</p>
  </footer>
</div>
<!--Javascripts-->
<script src="js/main.js"></script>

</body>
</html>