body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}


/*Global*/
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#wrapper{
	position: absolute;
	height: 100%;
	width: 100%;
}

ul, li, h3{
	margin: 0;
	padding: 0;

}


.body-bg{
	background: #35424a;
}

.main-bg{
	background: #ffffff;
}
.button_1{
	height: 38px;
	background: #e8491d;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: bold;
}

.dark{
	padding: 15px;
	padding-left: 30px;
	/*background: #35424a;*/
	background: rgba(53,66,74,0.5);
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
	/* opacity: 0.6;
	filter: alpha(opacity=70);*/ /* For IE8 and earlier */
	border-radius: 6px;
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#8035424a',GradientType=0);
}

.grid{
	padding: 10px;

}

table{
width: 100%;
overflow-x:auto;
}
.table{
	overflow-x: auto;
}
th{
	height: 30px;
	text-align: left;
	padding: 5px;
	border-bottom: 1px solid #ddd;
	background-color: #35424a;
	color: white;

}
td{
	height: 20px;
	vertical-align: bottom;
	padding: 5px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}
tr:hover{
	background-color: #f5f5f5
}

tr:nth-child(even){
	background-color: #f2f2f2
}

th#itemname, th#customer{
	width: 200px;
}

	.row {

		width: 100%;
		display: flex;
		flex-wrap: wrap;
		border-bottom: #cccccc 1px solid;
		overflow: auto;

	}

	.col-1 {
		width: 8.33%;
	}

	.col-2 {
		width: 16.66%;
	}

	.col-3 {
		width: 25%;
	}

	.col-4 {
		width: 33.33%;
	}

	.col-5 {
		width: 41.66%;
	}

	.col-6 {
		width: 50%;
	}

	.col-7 {
		width: 58.33%;
	}

	.col-8 {
		width: 66.67%;
	}

	.col-9 {
		width: 75%;
	}

	.col-10 {

		width: 83.33%;
	}

	.col-11 {
		width: 91.67%;
	}

	.col-12 {
		width: 100%;
	}


	[type="date"] {
		background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
	}
	[type="date"]::-webkit-inner-spin-button {
		display: none;
	}
	[type="date"]::-webkit-calendar-picker-indicator {
		opacity: 0;
	}

/*Header*/
header{
	background: #ffffff;
	color: #35424a;
	padding-top: 20px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
}

header a{
	color: #35424a;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;

}

header li{

	display: inline;
	padding: 0 20px 0 20px;
	float: left;

}

header #branding{
	float: left;
}

header #logo img{
	float: left;
	width: 180px;
	height: 120px;
}
header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	padding-top: 70px;
	margin-top: 10px;


}

header .highlight, header .current a{
	color: #e8491d;
	font-weight: bold;
}

header a:hover{
	color: #cccccc;
	font-weight: bold;
}
header #navprofile{
	float: right;
}

header #profile img{
	width: 80px;
	height: 80px;
	padding-top: 20px;
}

header #navprofile li#ordernav{

	padding-top: 70px;
	margin-top: 10px;


}

#header{
	width:100%;

}

.men-cat h2{ background:#35424a; height:32px; color:#fff; padding: 0 10px; line-height:32px; white-space:nowrap; border-bottom:solid 1px #fff; }

/*showcase*/

#showcase{
	min-height: 400px;
	background:url('../img/land.jpg') no-repeat 0 -400px;
	text-align: center;
	color: #ffffff;
}

#showcase h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
	color: #e8491d;
	text-shadow: 3px 3px 5px #333333;
}

#showcase p{
	font-size: 20px;
}

#showcase aside.sidebar{
	margin: auto;
	width: 40%;
	margin-top: 10px;
	text-align: left;
	margin-bottom: 20px;


}

#showcase aside.sidebar h3, h5{

	text-align: center;
	color: #ffffff;
	border-bottom: none;

}

#showcase aside.sidebar a{

	color: #e8491d;
	font-weight: bold;


}

#showcase aside.sidebar .quote input{
	width: 90%;
	padding: 5px;
	margin-bottom: 5px;



}

#showcase aside.sidebar button, .quote button{
	display: block;
	width: 95%;
}

#showcase aside.sidebar .highlight{
	color: #e8491d;
	font-weight: bold;
}



#showcase-menu{
	min-height: 180px;
	background:url('../img/landing.jpg') no-repeat 0 -400px;
	text-align: center;
	color: #ffffff;
	border-bottom: #e8491d 3px solid;
}

#showcase-menu #top{

	font-weight: bold;
	/*margin-bottom: 100px;*/
}

#showcase-menu #top h1{
	color: #e8491d;
}


/*newsletter*/

#newsletter{
	padding: 15px;
	color: #ffffff;
	background: #35424a
}

#newsletter h1{
	float: left;
}
#newsletter form{
	float: right;
	margin-top: 15px;
}
#newsletter input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 240px;

}


/*boxes*/
.box-head { background:#35424a; height:80px; color:#fff; padding: 0 10px; line-height:80px; white-space:nowrap; border-bottom:solid 1px #fff; }



#boxes{
	margin: 0;
	padding: 0;
	margin-top: 20px;
	margin-bottom: 10px;

}

#boxes .box{
	float: left;
	width: 30%;
	padding: 10px;
	text-align: center;
	border-radius: 4px;
}

#boxes .box .itemImg{
	margin: 0;
	padding: 0;
}

#boxes .box .row {

	border-bottom: none;
}
#boxes .box h3{

	border-bottom: none;
}
#boxes .box p{
	margin: 0;
	padding: 0;
	border: none;
	font-weight: bold;


}
#boxes .box span{
	margin: 0;
	padding: 0;
	border: none;
	font-weight: bold;
	margin-left: 10px;
}
#boxes .box button{
	margin: 0;
	padding: 0;
	float: right;
	background: #e8491d;
	border: 0;
	padding: 4px 5px;
	color: #ffffff;
	font-weight: normal;
	margin-right: 5px;

}

#main p{
	text-align: justify;
}

#main h1{
	text-align: center;
}
/*sidebar*/
aside#sidebar{
	float: right;
	width: 30%;
	margin-top: 10px;
}

aside#sidebar .quote input{
	width: 90%;
	padding: 5px;

}


aside#sidebar .highlight{
	color: #e8491d;
	font-weight: bold;
}


/*main-col*/
article#main-col{
	float: left;
	width: 65%;

}

/*services*/

ul#services li{
	list-style: none;
	padding: 20px;
	border: #cccccc solid 1px;
	margin-bottom: 5px;
	background: #e6e6e6;

}

/*Menu*/



ul#menu li{
	list-style: none;
	padding: 0;
	border: #cccccc solid 1px;
	margin-bottom: 5px;
	border-radius: 4px;

}

ul#menu h3{
	background: #35424a;
	color: white;
	margin-bottom: 0;
	padding: 3px;
	border-radius: 5px;
	padding-left: 10px;

}

/*ul#menu p{
	padding-right: 10px;

}*/
.category-image{
	min-height: 100px;
	background:url('../img/landing.jpg') no-repeat 0 -400px;
	text-align: center;
	color: #ffffff;

}
.menu-category select{
	padding: 4px;
	height: 25px;

}

.menu-category option{
	/*border-bottom: #e8491d 1px solid;*/
}
.category-menu h3{
	text-align: left;
	padding-left: 20px;

}

.category-menu{
	background: #35424a;
	color: #ffffff;
	margin: 0;
	padding: 0;
	border-radius: 3px;
}

.add{
	padding-top: 14px;
	width:"20px";
	height:"20px";
}

.button_2{

	background: #e8491d;
	border: 0;
	padding: 2px 10px;
	/*padding-left: 10px;
	padding-right: 10px;*/
	color: #ffffff;
	margin-top: 15px;
	margin-bottom: 10px;
	font-weight: normal;
	width: 55px;
	border-radius: 2px;
}


.button_3{

	background: #e8491d;
	border: 0;
	padding: 4px 5px;
	color: #ffffff;
	margin: 10px;
	font-weight: normal;
	width: 100px;
	border-radius: 2px;
}


.checkout_order{
	min-height: 300px;
	padding: 15px;
	width: 70%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin: auto;
	border-radius: 6px;
	/*	border: #cccccc solid 1px;*/

}

.checkout_order h3#title-order{
	padding-top: 40px;
	padding-bottom: 40px;
}

.checkout_order h3, h4{
	text-align: center;
}



section#delivery-form{
	margin: auto;
	width: 60%;
	margin-top: 10px;
	text-align: left;
	margin-bottom: 20px;

}


section#delivery-form h3{
	text-align: center;
	margin-bottom: 20px;
}

section#delivery-form .quote input{
	width: 90%;
	padding: 5px;
	border: 1px solid #c4c4c4;
	/* border-radius: 5px;*/
	background-color: #fff;
	padding: 3px 5px;
	box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
	width: 500px;


}


#delivery-form h2, h3{
	text-align: center;
	padding: 0;
	margin: 0;
	border-bottom: #e8491d 3px solid;
	margin-bottom: 20px;
}

.container1 ul{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: auto;
}

.container1 ul li{
	color: #AAAAAA;
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: 100px;
	/*border-bottom: 1px solid #333;*/
}

.container1 ul li input[type=radio]{
	position: absolute;
	visibility: hidden;
}

.container1 ul li label{
	display: block;
	position: relative;
	font-weight: bold;
	font-size: 1.35em;
	/*padding: 25px 25px 25px 80px;*/
	padding: 25px 25px 0px 80px;
	margin: 10px auto;
	height: 10px;
	z-index: 9;
	cursor: pointer;
	-webkit-transition: all 0.25s linear;
}

.container1 ul li .bank-detail{
	display: block;
	position: relative;
	font-weight: bold;
	font-size: 1.00em;
	/*padding: 25px 25px 25px 80px;*/
	padding: 0px 25px 0px 0px;
	margin: 0;
	z-index: 9;
	cursor: pointer;
	-webkit-transition: all 0.25s linear;
	margin-bottom: 40px;
}

#delivery-form button{
	margin: auto;
	margin-top: 50px;
	width: 20%

}


.container1 ul li:hover label{
	/*color: #FFFFFF;*/
	color: #e8491d;
}


.container1 ul li label{
	/*color: #FFFFFF;*/
	color: #800C03
}

.container1 ul li .check{
	display: block;
	position: absolute;
	border: 5px solid #AAAAAA;
	border-radius: 100%;
	height: 25px;
	width: 25px;
	top: 30px;
	left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.container1 ul li:hover .check {
	border: 5px solid #FFFFFF;
}

.container1 ul li .check::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 15px;
	width: 15px;
	top: 5px;
	left: 5px;
	margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

.container1 input[type=radio]:checked ~ .check {
	border: 5px solid #0DFF00;
}

.container1 input[type=radio]:checked ~ .check::before{
	background: #0DFF00;
}

.container1 input[type=radio]:checked ~ label{
	color: #0DFF00;
}

/*sidebar*/
#sidebar-left{
	float:left;
	height: 100%;
	width:20%;
	z-index: 1;
    top: 0;
    left: 0;
	background-color: #35424a;
	overflow-x: hidden;
	position: relative;

   }


#sidebar-left, #main, #sidebar-right{
	min-height: 600px

}

.men-cat h2{
	border-bottom: none;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
	color:#f1f1f1;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}

/*.main-menu-category ul li{
background-color: white;
}*/
/* Style the sidenav links and the dropdown button */
#sidebar-left a, .dropdown-btn {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #ffffff;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
	outline: none;
}

#sidebar-left button{
	margin-top: 30px;
}

/* On mouse-over */
#sidebar-left a:hover, .dropdown-btn:hover {
	color: #818181;
}



/*main admin*/
#main{
	float:left;
	width:80%;

}

#main h2, .menu-category{
padding: 0;
margin: 0;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
margin-left: 100px;
}

/*#main h2{padding: 0;
margin: 0;
background:#35424a; height:50px; color:#fff; padding: 0 10px; line-height:50px; white-space:nowrap; border-bottom:solid 1px #fff; }

*/

#main .menu-category{
padding-left: 30px;
margin-bottom: 30px;
}

/* Main content */
.main {
	margin-left: 200px; /* Same as the width of the sidenav */
	font-size: 20px; /* Increased text to enable scrolling */
	padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
	/*background-color: green;*/
	background-color: #e8491d;
	color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
	display: none;
	background-color: #262626;
	padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
	float: right;
	padding-right: 8px;
}

section#menulist .container2{
	width: 90%;
	margin: auto;
	overflow: hidden;
	padding: 20px;
}




/*All orders Admin*/

#order-detail{

	width: 100%;
	padding: 0;
	margin: 0;


}
#confirm_ord{
	float: left;
}
#confirm{
	float: right;
	margin-right: 100px;
}

.confirm{
	float: right;

}

/*footer*/
footer{

	padding: 1px;
	margin-top: 20px;
	color: #ffffff;
	/*background-color: #e8491d;*/
	background-color: #800C03;
	text-align: center;
	clear:both;
	/*position: fixed;
	width: 100%*/

}



#footer{
	clear:both;
}


/*media Queries*/

@media(max-width: 768px){
	header #logo,
	header nav,
	header nav li,
	#newsletter h1,
	#newsletter form,
	#boxes .box,
	article#main-col,
	aside#sidebar{
		float: none;
		text-align: center;
		width: 100%;

	}
	header logo{
		height: auto;
	}

	header{
		padding-bottom: 20px;
	}

	#showcase h1{
		margin-top: 40px;
		font-size: 30px;
	}
	#newsletter button, .quote button{
		display: block;
		width: 100%;
	}

	#newsletter form input[type='email'], .quote input, .quote textarea{
		width: 100%;
		margin-bottom: 5px;
	}
	table{
overflow-x:auto;
display: block
}

}
/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
	#sidebar-left{padding-top: 15px;}
	#sidebar-left a {font-size: 18px;}
}
