<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="Excellent Food Delivery Services">
  <meta name="keywords" content="fast food, tasty food, excellent fast food delivery services">
  <meta name="author" content="Jerry Blessing">
  <title>Fast Food Fast | Orders</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css">

</head>
<body class="body-bg">
  <header>
    <div class="container">
      <div id="logo">
        <img src="img/logo_fff.png">
      </div>

    </div>
  </header>

    <div id="sidebar-left">
      <button class="dropdown-btn">Food Menu
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="admin.html">View All</a>
        <a href="menuCategory.html">Add</a>
        <!-- <a href="#">Edit</a>
        <a href="#">Delete</a> -->
      </div>

      <button class="dropdown-btn">Orders
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-container">
        <a href="allOrders.html">All Orders</a>
       <!--  <a href="#">Yet to be Delivered</a>
        <a href="#">Cancelled Orders</a>
        <a href="#">Completed Orders</a> -->
      </div>
    </div>
    <div id="main" class="main-bg">
      <!-- Box Head -->
          <div class="box-head">
      <h2>See Full Menu Category and List of Food items</h2>
    </div>
      <div class="menu-category">
        <form method="post" action="menuCategory.html">
        <span><label>Select Category</label>
          <select>
            <option value="burgersandwichsharwama">Burgers, Sandwiches and Sharwama</option>
            <option value="cakes">Cakes</option>
            <option value="drinks">Drinks</option>
            <option value="grills">Grills</option>
            <option value="salad">Salad</option>
            <option value="side">Side Orders</option>
            <option value="starter">Starter</option>
          </select><button class="button_3">Add New</button> </span>
        </form>
        </div>

        <section id="menulist">
          <div class="container2">
            <article id="main-list">

              <ul id="menu">
                <li>
                  <div class="category-menu">
                    <h3>Burgers, Sandwiches and Sharwama</h3>
                  </div>
                  <section class="category-image">

                  </section>


                  <div class="grid">

                    <div class="row">

                      <div class="col-1">
                        <b><p>ID</p></b>


                      </div>
                      <div class="col-8">
                        <b><p>Name</p></b>


                      </div>

                      <div class="col-1">
                        <b><p>Amount</p></b>

                      </div>

                      <div class="col-1">
                        <!-- <button class="button_2 ">Edit</button>  -->
                      </div>
                      <div class="col-1">
                        <!-- <button class="button_2">Delete</button>  -->
                      </div>
                    </div>

                    <div class="row">


                      <div class="col-1">
                        <p>ID</p>


                      </div>
                      <div class="col-8">
                        <p>Chicken Sharwama</p>


                      </div>

                      <div class="col-1">
                        <p>N1800</p>

                      </div>
                      <div class="col-1">
                        <button class="button_2">Edit</button>
                      </div>

                      <div class="col-1">
                        <button class="button_2">Delete</button>
                      </div>
                    </div>

                    <div class="row">

                      <div class="col-1">
                        <p>ID</p>


                      </div>
                      <div class="col-8">
                        <p>Classic burger(beef)</p>


                      </div>

                      <div class="col-1">
                        <p>N1800</p>

                      </div>
                      <div class="col-1">
                        <button class="button_2">Edit</button>
                      </div>

                      <div class="col-1 ">
                        <button class="button_2">Delete</button>
                      </div>
                    </div>
                    <div class="row">

                      <div class="col-1">
                        <p>ID</p>


                      </div>
                      <div class="col-8">
                        <p>Shrimp Sandwich</p>


                      </div>

                      <div class="col-1">
                        <p>N1800</p>

                      </div>
                      <div class="col-1">
                        <button class="button_2">Edit</button>
                      </div>

                      <div class="col-1 ">
                        <button class="button_2">Delete</button>
                      </div>
                    </div>
                    <div class="row">

                      <div class="col-1">
                        <p>ID</p>


                      </div>
                      <div class="col-8">
                        <p>Tuna Sandwich</p>


                      </div>

                      <div class="col-1">
                        <p>N1800</p>

                      </div>
                      <div class="col-1">
                        <button class="button_2">Edit</button>
                      </div>

                      <div class="col-1 ">
                        <button class="button_2">Delete</button>
                      </div>
                    </div>

                  </li>

                  <li>
                    <div class="category-menu">
                      <h3>Cakes</h3>
                    </div>
                    <section class="category-image">

                    </section>


                    <div class="grid">
                      <div class="row">

                        <div class="col-1">
                          <p>ID</p>


                        </div>
                        <div class="col-8">
                          <p>Fruit cake</p>


                        </div>

                        <div class="col-1">
                          <p>N1800</p>

                        </div>
                        <div class="col-1">
                          <button class="button_2">Edit</button>
                        </div>

                        <div class="col-1 ">
                          <button class="button_2">Delete</button>
                        </div>
                      </div>

                      <div class="row">

                        <div class="col-1">
                          <p>ID</p>


                        </div>
                        <div class="col-8">
                          <p> Vegan Chocolate Cake</p>


                        </div>

                        <div class="col-1">
                          <p>N1800</p>

                        </div>
                        <div class="col-1">
                          <button class="button_2">Edit</button>
                        </div>

                        <div class="col-1 ">
                          <button class="button_2">Delete</button>
                        </div>
                      </div>
                      <div class="row">

                        <div class="col-1">
                          <p>ID</p>


                        </div>
                        <div class="col-8">
                          <p> rum-soaked cake</p>


                        </div>

                        <div class="col-1">
                          <p>N1800</p>

                        </div>
                        <div class="col-1">
                          <button class="button_2">Edit</button>
                        </div>

                        <div class="col-1 ">
                          <button class="button_2">Delete</button>
                        </div>
                      </div>

                    </li>


                    <li>
                      <div class="category-menu">
                        <h3>Drinks</h3>
                      </div>
                      <section class="category-image">

                      </section>


                      <div class="grid">
                        <div class="row">
                          <div class="col-12">
                            <b><p>Fresh Juices</p></b>

                          </div>


                        </div>

                        <div class="row">

                          <div class="col-1">
                            <p>ID</p>


                          </div>
                          <div class="col-8">
                            <p>Carrot</p>
                          </div>

                          <div class="col-1">
                            <p>N1000</p>

                          </div>
                          <div class="col-1">
                            <button class="button_2">Edit</button>
                          </div>

                          <div class="col-1 ">
                            <button class="button_2">Delete</button>
                          </div>
                        </div>

                        <div class="row">

                          <div class="col-1">
                            <p>ID</p>


                          </div>
                          <div class="col-8">
                            <p>Orange</p>
                          </div>

                          <div class="col-1">
                            <p>N1000</p>

                          </div>
                          <div class="col-1">
                            <button class="button_2">Edit</button>
                          </div>

                          <div class="col-1 ">
                            <button class="button_2">Delete</button>
                          </div>
                        </div>
                        <div class="row">

                          <div class="col-1">
                            <p>ID</p>


                          </div>
                          <div class="col-8">
                            <p>Carrot and orange</p>
                          </div>

                          <div class="col-1">
                            <p>N1000</p>

                          </div>
                          <div class="col-1">
                            <button class="button_2">Edit</button>
                          </div>

                          <div class="col-1 ">
                            <button class="button_2">Delete</button>
                          </div>
                        </div>

                        <div class="row">

                          <div class="col-1">
                            <p>ID</p>


                          </div>
                          <div class="col-8">
                            <p>Pineapple</p>
                          </div>

                          <div class="col-1">
                            <p>N1000</p>

                          </div>
                          <div class="col-1">
                            <button class="button_2">Edit</button>
                          </div>

                          <div class="col-1 ">
                            <button class="button_2">Delete</button>
                          </div>
                        </div>

                        <div class="row">

                          <div class="col-1">
                            <p>ID</p>


                          </div>
                          <div class="col-8">
                            <p>Pineapple and orange</p>
                          </div>

                          <div class="col-1">
                            <p>N1000</p>

                          </div>
                          <div class="col-1">
                            <button class="button_2">Edit</button>
                          </div>

                          <div class="col-1 ">
                            <button class="button_2">Delete</button>
                          </div>
                        </div>

                        <div class="row">

                          <div class="col-1">
                            <p>ID</p>


                          </div>
                          <div class="col-8">
                            <p>Watermelon</p>
                          </div>

                          <div class="col-1">
                            <p>N1000</p>

                          </div>
                          <div class="col-1">
                            <button class="button_2">Edit</button>
                          </div>

                          <div class="col-1 ">
                            <button class="button_2">Delete</button>
                          </div>
                        </div>



                        <div class="row">
                          <div class="col-12">
                            <b><p>Smothies</p></b>
                          </div>
                        </div>


                        <div class="row">

                          <div class="col-1">
                            <p>ID</p>


                          </div>
                          <div class="col-8">
                            <p>Triple-Berry Blend</p>
                          </div>

                          <div class="col-1">
                            <p>N1000</p>

                          </div>
                          <div class="col-1">
                            <button class="button_2">Edit</button>
                          </div>

                          <div class="col-1 ">
                            <button class="button_2">Delete</button>
                          </div>
                        </div>
                        <div class="row">

                          <div class="col-1">
                            <p>ID</p>


                          </div>
                          <div class="col-8">
                            <p>Peach-Mango-Banana</p>
                          </div>

                          <div class="col-1">
                            <p>N1000</p>

                          </div>
                          <div class="col-1">
                            <button class="button_2">Edit</button>
                          </div>

                          <div class="col-1 ">
                            <button class="button_2">Delete</button>
                          </div>
                        </div>

                        <div class="row">

                          <div class="col-1">
                            <p>ID</p>


                          </div>
                          <div class="col-8">
                            <p>Strawberry Shortcake</p>
                          </div>

                          <div class="col-1">
                            <p>N1000</p>

                          </div>
                          <div class="col-1">
                            <button class="button_2">Edit</button>
                          </div>

                          <div class="col-1 ">
                            <button class="button_2">Delete</button>
                          </div>
                        </div>

                        <div class="row">

                          <div class="col-1">
                            <p>ID</p>


                          </div>
                          <div class="col-8">
                            <p>Almond Crest</p>
                          </div>

                          <div class="col-1">
                            <p>N1000</p>

                          </div>
                          <div class="col-1">
                            <button class="button_2">Edit</button>
                          </div>

                          <div class="col-1 ">
                            <button class="button_2">Delete</button>
                          </div>
                        </div>

                      </li>

                      <li>
                        <div class="category-menu">
                          <h3>Grills</h3>
                        </div>
                        <section class="category-image">

                        </section>


                        <div class="grid">
                          <div class="row">

                            <div class="col-1">
                              <p>ID</p>


                            </div>
                            <div class="col-8">
                              <p>Cat fish</p>


                            </div>

                            <div class="col-1">
                              <p>N4500</p>

                            </div>
                            <div class="col-1">
                              <button class="button_2">Edit</button>
                            </div>

                            <div class="col-1 ">
                              <button class="button_2">Delete</button>
                            </div>
                          </div>

                          <div class="row">

                            <div class="col-1">
                              <p>ID</p>


                            </div>
                            <div class="col-8">
                              <p>Mackerel Fish</p>


                            </div>

                            <div class="col-1">
                              <p>N2000</p>

                            </div>
                            <div class="col-1">
                              <button class="button_2">Edit</button>
                            </div>

                            <div class="col-1 ">
                              <button class="button_2">Delete</button>
                            </div>
                          </div>

                          <div class="row">

                            <div class="col-1">
                              <p>ID</p>


                            </div>
                            <div class="col-8">
                              <p>Spicy barbecued goat meat</p>


                            </div>

                            <div class="col-1">
                              <p>N4500</p>

                            </div>
                            <div class="col-1">
                              <button class="button_2">Edit</button>
                            </div>

                            <div class="col-1 ">
                              <button class="button_2">Delete</button>
                            </div>
                          </div>

                          <div class="row">

                            <div class="col-1">
                              <p>ID</p>


                            </div>
                            <div class="col-8">
                              <p>Croaker Fish</p>


                            </div>

                            <div class="col-1">
                              <p>N5000</p>

                            </div>
                            <div class="col-1">
                              <button class="button_2">Edit</button>
                            </div>

                            <div class="col-1 ">
                              <button class="button_2">Delete</button>
                            </div>
                          </div>

                          <div class="row">

                            <div class="col-1">
                              <p>ID</p>


                            </div>
                            <div class="col-8">
                              <p>Tilapia fish</p>


                            </div>

                            <div class="col-1">
                              <p>N4000</p>

                            </div>
                            <div class="col-1">
                              <button class="button_2">Edit</button>
                            </div>

                            <div class="col-1 ">
                              <button class="button_2">Delete</button>
                            </div>
                          </div>

                          <div class="row">

                            <div class="col-1">
                              <p>ID</p>


                            </div>
                            <div class="col-8">
                              <p>Snails</p>


                            </div>

                            <div class="col-1">
                              <p>N2500</p>

                            </div>
                            <div class="col-1">
                              <button class="button_2">Edit</button>
                            </div>

                            <div class="col-1 ">
                              <button class="button_2">Delete</button>
                            </div>
                          </div>

                          <div class="row">

                            <div class="col-1">
                              <p>ID</p>


                            </div>
                            <div class="col-8">
                              <p>Peri chicken</p>


                            </div>

                            <div class="col-1">
                              <p>N1100</p>

                            </div>
                            <div class="col-1">
                              <button class="button_2">Edit</button>
                            </div>

                            <div class="col-1 ">
                              <button class="button_2">Delete</button>
                            </div>
                          </div>

                          <div class="row">

                            <div class="col-1">
                              <p>ID</p>


                            </div>
                            <div class="col-8">
                              <p>Lobster</p>


                            </div>

                            <div class="col-1">
                              <p>N6000</p>

                            </div>
                            <div class="col-1">
                              <button class="button_2">Edit</button>
                            </div>

                            <div class="col-1 ">
                              <button class="button_2">Delete</button>
                            </div>
                          </div>

                        </li>

                        <li>
                          <div class="category-menu">
                            <h3>Salad</h3>
                          </div>
                          <section class="category-image">

                          </section>


                          <div class="grid">
                            <div class="row">

                              <div class="col-1">
                                <p>ID</p>


                              </div>
                              <div class="col-8 spa">
                                <b><p>Chicken Salad</p></b>
                                <p>Grilled chicken, paprika, corn, red onions, carrots, lettuce, croutons, dressing Blind Tiger</p>


                              </div>

                              <div class="col-1">
                                <p>N1800</p>

                              </div>
                              <div class="col-1">
                                <button class="button_2">Edit</button>
                              </div>

                              <div class="col-1 ">
                                <button class="button_2">Delete</button>
                              </div>
                            </div>

                            <div class="row">

                              <div class="col-1">
                                <p>ID</p>


                              </div>
                              <div class="col-8 spa">
                                <b><p>Tuna Salad</p></b>
                                <p>Tuna, pepper, corn, red onions, carrots, lettuce, olives, Blind Tiger dressing</p>

                              </div>

                              <div class="col-1">
                                <p>N1800</p>

                              </div>
                              <div class="col-1">
                                <button class="button_2">Edit</button>
                              </div>

                              <div class="col-1 ">
                                <button class="button_2">Delete</button>
                              </div>
                            </div>

                            <div class="row">

                              <div class="col-1">
                                <p>ID</p>


                              </div>
                              <div class="col-8 spa">
                                <b><p>Sea Food Salad</p></b>
                                <p>Grilled chicken, paprika, corn, red onions, carrots, lettuce, croutons, dressing Blind Tiger</p>


                              </div>

                              <div class="col-1">
                                <p>N1800</p>

                              </div>
                              <div class="col-1">
                                <button class="button_2">Edit</button>
                              </div>

                              <div class="col-1 ">
                                <button class="button_2">Delete</button>
                              </div>
                            </div>

                            <div class="row">

                              <div class="col-1">
                                <p>ID</p>


                              </div>
                              <div class="col-8 spa">
                                <b><p>Fruit Salad</p></b>
                                <p>Tuna, pepper, corn, red onions, carrots, lettuce, olives, Blind Tiger dressing</p>

                              </div>

                              <div class="col-1">
                                <p>N1800</p>

                              </div>
                              <div class="col-1">
                                <button class="button_2">Edit</button>
                              </div>

                              <div class="col-1 ">
                                <button class="button_2">Delete</button>
                              </div>
                            </div>

                          </li>

                          <li>
                            <div class="category-menu">
                              <h3>Side Orders</h3>
                            </div>
                            <section class="category-image">

                            </section>


                            <div class="grid">
                              <div class="row">

                                <div class="col-1">
                                  <p>ID</p>


                                </div>
                                <div class="col-8">
                                  <p>Plantain</p>


                                </div>

                                <div class="col-1">
                                  <p>N600</p>

                                </div>
                                <div class="col-1">
                                  <button class="button_2">Edit</button>
                                </div>

                                <div class="col-1 ">
                                  <button class="button_2">Delete</button>
                                </div>
                              </div>

                              <div class="row">

                                <div class="col-1">
                                  <p>ID</p>


                                </div>
                                <div class="col-8">
                                  <p>Cole slaw</p>


                                </div>

                                <div class="col-1">
                                  <p>N600</p>

                                </div>

                                <div class="col-1">
                                  <button class="button_2">Edit</button>
                                </div>

                                <div class="col-1 ">
                                  <button class="button_2">Delete</button>
                                </div>
                              </div>

                              <div class="row">

                                <div class="col-1">
                                  <p>ID</p>


                                </div>
                                <div class="col-8">
                                  <p>Potato chips</p>


                                </div>

                                <div class="col-1">
                                  <p>N600</p>

                                </div>
                                <div class="col-1">
                                  <button class="button_2">Edit</button>
                                </div>

                                <div class="col-1 ">
                                  <button class="button_2">Delete</button>
                                </div>
                              </div>

                              <div class="row">

                                <div class="col-1">
                                  <p>ID</p>


                                </div>
                                <div class="col-8">
                                  <p>French Fries</p>


                                </div>

                                <div class="col-1">
                                  <p>N500</p>

                                </div>
                                <div class="col-1">
                                  <button class="button_2">Edit</button>
                                </div>

                                <div class="col-1 ">
                                  <button class="button_2">Delete</button>
                                </div>
                              </div>

                              <div class="row">

                                <div class="col-1">
                                  <p>ID</p>


                                </div>
                                <div class="col-8">
                                  <p>Pasta</p>


                                </div>

                                <div class="col-1">
                                  <p>N500</p>

                                </div>
                                <div class="col-1">
                                  <button class="button_2">Edit</button>
                                </div>

                                <div class="col-1 ">
                                  <button class="button_2">Delete</button>
                                </div>
                              </div>

                              <div class="row">

                                <div class="col-1">
                                  <p>ID</p>


                                </div>
                                <div class="col-8">
                                  <p>Moi moi</p>


                                </div>

                                <div class="col-1">
                                  <p>N350</p>

                                </div>
                                <div class="col-1">
                                  <button class="button_2">Edit</button>
                                </div>

                                <div class="col-1 ">
                                  <button class="button_2">Delete</button>
                                </div>
                              </div>

                            </li>

                            <li>
                              <div class="category-menu">
                                <h3>Starters</h3>
                              </div>
                              <section class="category-image">

                              </section>


                              <div class="grid">
                                <div class="row">

                                  <div class="col-1">
                                    <p>ID</p>


                                  </div>
                                  <div class="col-8">
                                    <p>Spring rolls + Shrimp corn soup</p>


                                  </div>

                                  <div class="col-1">
                                    <p>N1000</p>

                                  </div>
                                  <div class="col-1">
                                    <button class="button_2">Edit</button>
                                  </div>

                                  <div class="col-1 ">
                                    <button class="button_2">Delete</button>
                                  </div>
                                </div>

                                <div class="row">

                                  <div class="col-1">
                                    <p>ID</p>


                                  </div>
                                  <div class="col-8">
                                    <p>Bread rolls + chicken corn</p>


                                  </div>

                                  <div class="col-1">
                                    <p>N1000</p>

                                  </div>
                                  <div class="col-1">
                                    <button class="button_2">Edit</button>
                                  </div>

                                  <div class="col-1 ">
                                    <button class="button_2">Delete</button>
                                  </div>
                                </div>

                              </li>


                            </ul>
                          </article>
                        </div>
                      </section>
                    </div>

        </div>

        </div>


        <div id="footer">
          <footer>
            <p>Fast-Food-Fast, Copyright &copy; 2018</p>
          </footer>
        </div>

<!--Javascripts-->
<script src="js/main.js"></script>

      </body>
      </html>
