<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Excellent Food Delivery Services">
	<meta name="keywords" content="fast food, tasty food, excellent fast food delivery services">
	<meta name="author" content="Jerry Blessing">
	<title>Fast Food Fast | Orders</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
	<header>
		<div class="container">
			<div id="logo">
				<img src="img/logo_fff.png">
			</div>

			<nav>
				<ul>
					<li><a href="placeOrders.html">Orders</a></li><!-- 
					<li><a href="services.html"><img src="img/plus.png"></a></li> -->
				</ul>
			</nav>


		</div>
	</header>

	<section id="delivery-form">
		<div class="container">
			<!-- <div>
				<h3>DELIVERY INFORMATION</h3>
			</div> -->

			<aside class="sidebar">
				<div class="dark">
					<form class="quote" method="post" action="orderConfirmation.html">

						<h2>DELIVERY DETAIL</h2>
						<div>
							<label>Name</label><br>
							<input type="text" placeholder="Name">
						</div>

						<div>
							<label>Email</label><br>
							<input type="email" placeholder="Email Address">
						</div>

						<div>
							<label>Phone Number</label><br>
							<input type="Number" placeholder="Phone Number">
						</div>

						<div>
							<label>Address</label><br>
							<input type="text" placeholder="Address">
						</div>

						<div>
							<label>City</label><br>
							<select> 
								<option value="abuja">Abuja</option>

							</select>
						</div>

						<div>
							<label>Area</label><br>
							<input type="text" placeholder="Area">
						</div>

						<div>
							<label>Delivery Date</label><br>
							<input type="date" name="dateofdelivery" id="dateofdelivery">
						</div><br>





						<div class="container1">

							<h2>PAYMENT METHOD</h2>

							<ul>
								<li>
									<input type="radio" id="f-option" name="selector">
									<label for="f-option">Cash/POS On Delivery</label>

									<div class="check"></div>
								</li>

								<li>
									<input type="radio" id="s-option" name="selector">
									<label for="s-option">Bank Transfer</label>
									<div class="bank-detail">
										<label id="account-no">0011547689 GTBank</label>
										<label id ="account-name">Account Name: Fast Food Fast</label>
									</div>

									<div class="check"><div class="inside"></div></div>
								</li>

								
							</ul>
						</div>




						<button class="button_1" type="submit">Order Now</button>
					</form>
				</div>
			</aside>

		</div>
	</section>

	<section id="payment_method">
		<div class="container">
			
		</div>
	</section>

	<footer>
		<p>Fast-Food-Fast, Copyright &copy; 2018</p>
	</footer>
</body>
</html>