<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Excellent Food Delivery Services">
	<meta name="keywords" content="fast food, tasty food, excellent fast food delivery services">
	<meta name="author" content="Jerry Blessing">
	<title>Fast Food Fast | Welcome</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
	<header>
		<div class="container">
			<div id="logo">
				<img src="img/logo_fff.png">
			</div>

			<nav>
				<ul>
					<li class="current"><a href="index.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="services.html">Services</a></li>
				</ul>
			</nav>


		</div>
	</header>

	<section id="showcase">

		<div class="container">

			<h1>Excellent Fast Food Delivery Service</h1>
			 <!-- <aside class="sidebar"> -->
				<div class="dark">
				<h3>Sign up</h3>
				<h5>Already have an account? <span class="highlight"> <a href="index.html"> Sign In </a></span></h5>
				<form class="quote" method="post" action="placeOrders.html">
					<div>
						<label>Name</label><br>
						<input type="text" placeholder="Name">
					</div>

					<div>
						<label>Email</label><br>
						<input type="email" placeholder="Email Address">
					</div>

					<div>
						<label>Password</label><br>
						<input type="Password" placeholder="Password">
					</div>

					<div>
						<label>Confirm Password</label><br>
						<input type="Password" placeholder="Password">
					</div><br>

					<button class="button_1" type="submit">Sign Up</button>
				</form>
				</div>
			<!-- </aside> -->
		</div>
	</section>

	<footer>
	<p>Fast-Food-Fast, Copyright &copy; 2018</p>
	</footer>
</body>
</html>
